{% extends "base.html" %}
{%load static %}

{% block head_content %}
<link rel="stylesheet" href="{% static "css_and_js/base.css" %}">
{% endblock %}

{% block content %}
<div class="banner-con container text-center">
    <div class="txt">
        <h1 style="color: #f39200; font-size: 100px;"><b>WELCOME</b></h1>
        <p style="color:black; font-size: 20px;"><b>Indulge in a culinary journey of exquisite flavors and exceptional hospitality. Our menu features a tantalizing array of dishes crafted with passion and precision. Whether you're seeking a cozy dinner for two or celebrating a special occasion with family and friends, we promise an unforgettable dining experience.</b></p>
    </div>
</div>
{% endblock %}
